.about {
  @media screen and (max-width: $tablet-max) {
    display: none;
  }

  padding-top: 3px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.about__item {
  position: relative;
  max-width: 370px;
}

.about__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about__text {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 27px 0;

  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;

  background: rgba($color-tuna, 0.8);
}
