.footer {
  padding: 60px 0;
  background-color: $color-tuna;
}

.footer__container {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
  }
}

.footer__details {
  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    gap: 172px;
    margin-bottom: 57px;
    margin-left: 70px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    align-items: baseline;
  }
}

.footer__contacts {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 57px;
  }

  @media screen and (max-width: $tablet-max) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 85px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: $color-white;
}

.footer__address {
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer__info {
  color: rgba($color-white, 0.6);
  transition: color $transition-time-cubic;

  &--address {
    color: $color-white;
  }

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 5px;
}

.footer__social {
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 60px;
  }
  @media screen and (max-width: $tablet-max) {
    text-align: center;
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    margin-top: 5px;
  }
}

.footer__title {
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-white;
}

.footer__form {
  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    margin-left: 15px;
  }

  @media screen and (max-width: $tablet-max) {
    text-align: center;
  }
}

.footer__sub {
  @media screen and (min-width: $desktop) {
    display: flex;
    column-gap: 12px;
  }
}

.footer__input {
  height: 50px;
  padding: 0 15px;

  color: $color-white;

  background-color: transparent;
  border: 1px solid rgba($color-white, 0.3);
  border-radius: 4px;

  @media screen and (max-width: $mobile-min) {
    min-width: 100%;
  }

  @media screen and (min-width: $mobile) and (max-width: $tablet-max) {
    min-width: 450px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 358px;
  }

  @media screen and (max-width: $tablet-max) {
    margin-bottom: 20px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba($color-white, 0.6);
  }
}
