.header {
  padding: 24px 0;
  border-bottom: 1px solid $color-gallery;
}

.header__container {
  @include flex($align: center);
}

.header__logo {
  margin-right: 93px;
  color: $color-black;
}

.header__list {
  @include flex($wrap: wrap, $gap: 50px);
  max-width: 550px;
}

.header__link {
  @include font($size: 14px, $weight: 500, $line: calc(16 / 14), $letter: 0.02em);
  color: $color-secondary;
  transition: color $transition-time-cubic;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.header__link--current {
  position: relative;
  color: $color-accent;

  &::after {
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $color-accent;
    border-radius: 2px;
  }
}

.header__contacts {
  @include flex($gap: 30px);
  margin-left: auto;
  @include font($size: 14px, $weight: 500, $line: calc(16 / 14), $letter: 0.02em);
}

.header__info {
  @include flex($align: center, $column-gap: 10px);
  transition: color $transition-time-cubic, fill $transition-time-cubic;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.header__icon {
  fill: currentColor;

  &--mail {
    width: 16px;
    height: 12px;
  }

  &--phone {
    width: 10px;
    height: 16px;
  }
}
