// Container

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

// Reset

.btn-reset {
  padding: 0;
  cursor: pointer;
  border: none;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

// General

.section {
  padding: 94px 0;
}

// Utils

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
